@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, 'sans-serif';
}

.page-section {
  position: relative;
  padding: 0;
}

/* FIRST SECTION */

.first-section {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
  grid-gap: 2rem;
  justify-content: center;
}

@layer components {
  .about-img span {
    @apply !h-full;
  }
  .image-fulled span {
    @apply !h-full;
  }
  .about-img span img {
    @apply rounded-3xl min-h-full  object-cover object-center !inset-0;
  }

  .create-blok {
    @apply flex items-center p-[10px] w-full md:w-[30rem] lg:w-[35rem] xl:w-[40rem] pl-5 h-[5rem] md:h-[7rem] gap-5 rounded-lg shadow-[0__1px_3px_#80858b];
  }

  .create-blokTwo {
    @apply flex items-center p-[10px] w-full  pl-5 h-[5rem] md:h-[7rem] gap-5 rounded-lg shadow-[0__1px_3px_#80858b];
  }

  .image-fulled span img {
    @apply rounded-3xl   object-cover object-center;
  }

  .portBox span {
    @apply !h-full;
  }
  .portBox span img {
    @apply h-full object-cover;
  }

  .feature span {
    @apply !h-full;
  }

  .about-Img span {
    @apply !h-full;
  }
  table {
    @apply w-full;
  }
  th {
    @apply text-left p-2 border;
  }
  tr {
    @apply border-[1px]  hover:bg-gray-100 active:bg-sky-200 cursor-pointer;
  }
  td {
    @apply p-2 border;
  }
  .heighBox {
    @apply !max-h-[120px];
  }
}

.shim-red {
  position: relative;
  overflow: hidden;
  background-color: rgba(36, 90, 239, 0.7);
}
.shim-red::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 3s ease-out infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
