@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.page-section {
  position: relative;
  padding: 0;
}

/* FIRST SECTION */

.first-section {
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
  grid-gap: 2rem;
  justify-content: center;
}

@layer components {
  .about-img span{
    @apply !h-full;
    
  }
  .image-fulled span {
    @apply !h-full;
  }
  .about-img span img {
    @apply rounded-3xl min-h-full  object-cover object-center !inset-0;
  }

  .create-blok {
    @apply flex items-center p-[10px] w-full md:w-[30rem] lg:w-[35rem] xl:w-[40rem] pl-5 h-[5rem] md:h-[7rem] gap-5 rounded-lg shadow-[0__1px_3px_#80858b];
  }

  .image-fulled span img {
    @apply rounded-3xl   object-cover object-center;
  }
  
  .nav{
    @apply gap-8 text-sm bg-white font-medium flex duration-500 lg:translate-x-0    lg:w-auto z-20
  }
  .nav-mobile{
    @apply !translate-x-[0]
  }
  .window-rgb{
    @apply  w-full h-full fixed left-0 top-0 invisible opacity-0 bg-black/[0.5] duration-500
    
  }
  .rgb-active{
    @apply z-10   visible opacity-[1]
    
  }

  @media(max-width: 1024px){
    .nav{
      @apply flex flex-col fixed top-0 left-0 !w-[19rem] translate-x-[-100%] h-full  gap-0
    }
    .nav a{
      @apply mx-4 py-3 pl-2 border-b-[1px]
    }
    
  }
}
